ul,
li {
  list-style: none;
  white-space: nowrap;
}

li {
  display: inline;
}

img { 
  width: 100%;
  margin-top: -16px;
  object-fit: cover;
  object-position: bottom;
  overflow: hidden;
}

/* Slider container */
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.imagenes-container{
  width: 100%;
  height: 100%;
}


/* dots carrusel */
.dots-container {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 9999;
  bottom: 5%;
  left: 50%;
}

.dot-container-item {
  margin: 8px 3px;
  cursor: pointer;
  font-size: 2px;
  text-align: center;
}

/* Arrows */
.leftArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 32px;
  font-size: 50px;
  font-weight: 700;
  color: blue;
  z-index: 1;
  cursor: pointer;
}

.rightArrow {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 32px;
  font-size: 50px;
  font-weight: 700;
  color: blue;
  z-index: 1;
  cursor: pointer;
}

.container-images {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
 
}


.container-images ul {
  padding: 0;
  margin: 0;
}


div.active {
  background: #ccc;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}