.main-container {
    width: 1000px;
    height: 500px;
    margin: 0 auto;
  }
  .image-container{
    width: 100%;
    border: solid green;
  }
  
  .infoPrincipal-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .title-box,
  .description-box {
    width: calc(50% - 20px);
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .title-box {
    text-align: center;
    border: solid #0F1C65;
    border-radius: 20px;
  }
  
  .description-box {
    text-align: center;
    border: solid #0F1C65;
    border-radius: 20px;
    background-color: #94A0E3;
  }
  
  .details-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Ajuste para que los elementos ocupen todo el ancho */
  }
  
  .details-box > p {
    flex-basis: calc(50% - 20px); /* Ajuste para dejar espacio entre los elementos */
    padding: 10px; /* Añade un espacio interior para separar el contenido del borde */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  
  