@import 'primeflex/primeflex.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:whitesmoke;
}

.box {
  margin-top: 30px;
  margin-inline: 60px;
}

.button-blue {
  background-color: #152f4e !important;
}

.p-selectbutton .p-button.p-highlight {
  background-color: #152f4e !important;
  border-color: #152f4e !important;
  color: #fff !important;
}